body {
    background-color: #121212;
}

.image-container {
    background-color: #2c2c2c;
    padding: 6px;
    border-radius: 50px;
    width: 26px;
    height: 26px;
    margin-left: 340px;
}

.icon {
    width: 40px;
    height: 40px;
    place-content: center;
    text-align: center;
    flex-direction: row-reverse;
    filter: invert(100%);
}

nav {
    display: flex;
    flex-direction: row;
}

#home {
    width: 25px;
    height: 25px;
}

#search {
    width: 415px;
    height: 40px;
    border-radius: 50px;
    background-color: #2c2c2c;
    align-content: center;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 7px;
}

#search_text {
    margin-right: 165px;
    color: rgba(255, 255, 255, 0.65);
    font-weight: 300;
    font-size: 14px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.invert {
    filter: invert(100%);
}

.search_icon {
    width: 25px;
    height: 25px;
}

.basket {
    width: 38px;
    height: 38px;
}

.seperater {
    color: rgba(255, 255, 255, 0.65);
    font-size: x-large;
}

.right-text {
    color: rgba(255, 255, 255, 0.75);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 12px;
    font-size: small;
    margin-left: 7px;
}

.divider {
    font-size: large;
    margin-top: 8px;
}

#right-nav-download {
    height: 12px;
    width: 12px;
    filter: invert(75%);
    margin-left: 1.4px;
}

#download-circle {
    border: 2px solid #121212;
    filter: invert(50%);
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 11px;
    margin-left: 10px;
}

#right-side {
    display: flex;
}

#left-box {
    background-color: rgba(115, 115, 115, 0.1);
    border-radius: 10px;
    height: 550px;
    width: 325px;
}

#body-box {
    background-color: rgba(115, 115, 115, 0.1);
    border-radius: 10px;
    height: 550px;
    width: 1000px;
    margin-left: 5px;
}

#boxes {
    display: flex;
}

#gradient {
    background-color: linear-gradient(90deg, rgba(237, 93, 252, 1) 0%, rgba(87, 117, 199, 1) 50%, rgba(161, 216, 255, 1) 100%);
    border-radius: 10px;
    height: 100px;
    width: 1325px;   
}